<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <!-- ここにナビゲーションバーの要素を追加 -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- このブロックは子テンプレートでオーバーライドされます -->
        {% endblock %}
    </main>

    <footer>
        <!-- ここにフッターの要素を追加 -->
    </footer>

    <script src="{% static 'chat/chat.js' %}"></script>
</body>
</html>
